/* Curricular unit*/

.curricular_unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
}

.curricular_unit .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.curricular_unit .description {
    max-width: 500px;
    min-width: 290px;
}

.workload p{
    background-color: #f00;
    padding: 10px 25px;
    width: fit-content;
    border-radius: 10px;
    color: #fff;
    font-size: small;
    margin-top: 25px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.text_right {
    text-align: right;
}

@media (max-width: 999px) {
    .curricular_unit .informations {
        justify-content: center;
    }
}